<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TAB TITLE -->
    <title>Log In / Register - <%= app_name %></title>
    <!-- LINK TO STYLESHEETS / GOOGLE FONTS -->
    <link rel="stylesheet" href="/styles/general.css"> 
    <link rel="stylesheet" href="/styles/login.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
</head>

<body>
    <!-- MAIN -->
    <main>
        <div class="container">
            <!-- MAIN: Forms -->
            <div class="form-container">
                <a href="/"><img src="/assets/logo/budgetflow_logo_light.svg" alt="BudgetFlow Logo (Light)" class="logo"></a>
                <!-- Toggle Buttons -->
                <div class="form-toggle">
                    <button id="login-toggle" onclick="toggleLogin()">Log In</button>
                    <button id="register-toggle" onclick="toggleRegister()">Register</button>
                </div>
                <!-- Log In Form -->
                <form id="login-form" class="form-content" method="POST" action="/account/login">
                    <h2>Welcome back</h2>
                    <h3>Enter your credentials to login</h3>
                    <label for="login-email">Email:</label>
                    <input type="email" id="login-email" name="email" required>
                    <label for="login-password">Password:</label>
                    <input type="password" id="login-password" name="password" required>
                    <button type="submit" class="btn">Log In</button>
                    <% if (typeof message !== 'undefined') { %>
                        <div class="message <%= messageClass %>"><%= message %></div>
                    <% } %>

                    <p><a href="recovery">Forgot password?</a></p>
                    <p id="register-toggle" onclick="toggleRegister()">Don't have an account? <u>Register</u></p>
                </form>
                <!-- Register Form -->
                <form id="register-form" class="form-content" method="POST" action="/account/register">
                    <h2>Register</h2>
                    <h3>Enter your information below</h3>
                    <label for="register-first-name">First Name:</label>
                    <input type="text" id="register-first-name" name="firstName" required>
                    <label for="register-last-name">Last Name:</label>
                    <input type="text" id="register-last-name" name="lastName" required>
                    <label for="register-email">Email:</label>
                    <input type="email" id="register-email" name="email" required>
                    <label for="register-password">Password:</label>
                    <input type="password" id="register-password" name="password" required>
                    <label for="register-confirm-password">Confirm Password:</label>
                    <input type="password" id="register-confirm-password" name="confirmPassword" required>
                    <button type="submit" class="btn">Register</button>
                    <% if (typeof message !== 'undefined') { %>
                        <div class="message <%= messageClass %>"><%= message %></div>
                    <% } %>
                    <p id="login-toggle" onclick="toggleLogin()">Already have an account? <u>Log In</u></p>
                </form>
            </div>
        </div>
    </main>

    <!-- FOOTER -->
    <footer>
        <!-- FOOTER: Rights -->
        <div class="container">
            <p>CM2020 Agile Software Projects: <%= app_name %></p>
        </div>
    </footer>

    <!-- LINK TO SCRIPT -->
    <script src="/scripts/toggleForms.js"></script>
</body>
</html>